@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-background: #f8f9fe;
	--sidebar-background: #ffffff;
	--blue-background: #228be6;
}

main {
	background: linear-gradient(
		var(--blue-background) 0%,
		var(--blue-background) 400px,
		var(--main-background) 400px,
		var(--main-background) 100%
	);
	min-height: 100vh;
}
.sidebar {
	background-color: var(--sidebar-background);
}
